

/*TEXTOS IMPORTADOSS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500;8..144,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*FIN*/

/**RESTAURACIÓN DE VALORES**/

*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#ffdef9 !important; 
}


/**BARRA DE NAVEGACIÓN**/

 nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 



nav li{
    display:inline-block ;
    width:10%;
    padding: 13px 43px !important ; 
    background-color:rgb(252, 200, 200);
    text-align:center;
    text-transform: uppercase;
    color:#fff;
}


nav li:hover{
    background-color:#ffdef9;
    color:rgb(255, 179, 179) !important;
  transition-property: all;
    transition-duration: 0.7s;
    cursor: pointer;
    }

li:hover{
    transform: scale(1.2)
   
}



/**FIN BARRA DE NAVEGACIÓN**/





/**inicio**/
/**grid area**/
#grilla1{

justify-content: stretch;
    display: grid;

    grid-template-areas: "header         header     "
                         "encabezado     encabezado "
                         "izquierda      derecha    "
                         "izquierda      derecha    " 
                         "izquierda      derecha    "
                         "textoAbajo     textoAbajo "
                         "pieDePagina    pieDePagina"
;

 grid-template-rows: 4% 10% 30% 34% 5% 16% 14%;
    grid-template-columns: (2, 1fr);

}

header{
    grid-area: header ;
    background: #ffdef9;
    justify-self: stretch;
    
}

#sectionText{
    grid-area:encabezado;
background: pink;
border-bottom: 2px solid rosybrown;
}


#sectionIzquierda{
    grid-area: izquierda;
    background: #ffdef9;


}

#sectionDerecha{
    grid-area: derecha;
 background: #ffdef9;
 justify-self: center;
}

#sectionText2{
    grid-area: textoAbajo;
    background: pink;
    border-top: 2px solid rosybrown;
    border-bottom: 2px solid rosybrown;
}

footer{
    grid-area: pieDePagina ;
    background: rosybrown

}

@media (min-width:480){
          #grilla1{
grid-template-columns: (3, 1fr)
    
}
h1{
    font-size:20% ;
    color: rgb(255, 157, 222);
}
}






/**fin de grid**/

/**IMAGENES DE INICIO**/



.imagIzqInicio{
    height: 88%;
    width: 94%;
    object-fit: cover;
}


.imgDerechaInicio{
    height: 25%;
    width: 82%;
    margin: 1%;
    padding: 2%;
}







/**fin de inicio**/



/**TEXTOS**/

    .mainInicio{
        text-align: center;
  
    }




    h1 {
        font-family: 'Russo One', sans-serif;
        color: rgb(201, 131, 131);
        margin-left: 0%;
        margin-bottom: 1%;
      
        font-size: 3rem;
    }
    
    h2 {
        color: rgb(201, 131, 131);
        margin-left: 11%;
        margin-bottom: 5%;
        margin-top: 1%;
        font-size: 2rem;
    }
    
    
    p {
       color:rgb(201, 131, 131);
       font-size: 2rem;
    }
    .parrafoRespuesta{
        margin: 1% 52% 20% 14%;
        font-size: 1rem;

        color:rgb(201, 131, 131);
    }
    
    .parrafoRespuesta:hover{
        transform: scale(1.1);
transition-property: all;
    transition-duration: 1s;
    }



.footerTexto{
    color: rgb(236, 190, 190);
    margin-top: 1%;
    margin-bottom: 3%;
    font-family: 'Russo One', sans-serif;
}

.tituloProductos{
margin: 35px 415px 53px 351px;
}


/*REGISTRATE*/
.formularioRegistrate{
    text-align: center;

}
.textoRegistrate{
    text-align:center ;
}



/**SECCIÓN PRODUCTOS**/

#articulosConteiner{
display: grid;
grid-template-columns: repeat(3, 1fr);
column-gap: 2rem;     
margin:2rem;
}

@media(min-width:768){
    #articulosConteiner{
        grid-template-columns: repeat(2, 1fr);


    
    }
}

@media(min-width:480){
    #articulosConteiner{
        grid-template-columns:(3, 1fr);
    }
}


.articulos{
text-align: center;

}


.articulos img{
    width: 97%;
    height: 72%;
  
    padding: 18px;
    border-radius: 6%;
}


.articulos img:hover{
transform: scale(1.1);
}

.articulosCarrito{
 width: 97%;
    height: 72%;
}


section p{
    font-size: 23px;

}


/**FIN DE PRODUCTOS**/
 
/**FOOTER**/


footer{
    transition: background 1.2s;

}




footer:hover {
 background:rgb(231, 167, 167);

  }






footer img{
    padding: 0px 10px 0px 34px;
   
}


  .imgFooter:hover{
    transform: scale(1.5);
  }
/*FIN DE FOOTER*/